@use '../globals/utilities' as util;

.main__crew  {
    text-align: center;
    padding-block: var(--space-300);
    padding-inline: var(--space-300);

    @include util.breakpoint(medium) {
        padding-block: var(--space-500);
        padding-inline: var(--space-500);
    }

    @include util.breakpoint(large) {
        text-align: initial;
        padding-block: var(--space-600);
        padding-inline: var(--space-1600);
    }
}

.crew__content {
    --flow-space: var(--space-800);
    display: flex;
    flex-direction: column;
    gap: var(--space-400);

    @include util.breakpoint(large) {
        --flow-space: var(--space-1600);
        flex-direction: row;
    }
}

.crew__text__heading {
    display: flex;
    flex-direction: column;
    gap: var(--space-100);
    font-size: var(--fs-200);
   

    @include util.breakpoint(medium) {
        gap: var(--space-200);
        font-size: var(--fs-400);
    }

    @include util.breakpoint(large) {
        font-size: var(--fs-600);
    }
}

.crew__role {
    color: var(--clr-accent-200);
    font-size: var(--fs-125);

    @include util.breakpoint(medium) {
        font-size: var(--fs-200);
    }

    @include util.breakpoint(large) {
        font-size: var(--fs-300);
    }
}

.tagline__crew {
    --flow-space: var(--space-300);
}