
@use '../globals/utilities' as util;

/* HEADER STYLES */

.primary-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block-start: var(--space-300);
    padding-block-end: var(--space-300);
    padding-inline-start: var(--space-300);
    color: var(--clr-primary-100);

    @include util.breakpoint(medium) {
        padding-block-start: var(--space-300);
        padding-block-end: var(--space-300);
        padding-inline-start: var(--space-500);
    }

    @include util.breakpoint(large) {
        padding-block-start: var(--space-400);
        padding-block-end: var(--space-300);
        padding-inline-start: var(--space-1200);
    }
}

.primary-nav {
    position: relative;
    background-color: var(--clr-accent-100);
    display: flex;
    flex-direction: column;

        &::before {
             content: '';
             display: block;
             position: absolute;
             right: 100%;
             top: 50%;
             height: 1px;
             width: 100%;
             margin-right: -2rem;
             background-color: var(--clr-accent-200);

             @media (width < 70rem) {
                display: none;
            }
        } 
}

.primary-nav__list {
    display: flex;
    flex-direction: row;
    gap: var(--space-600);
    padding-inline-start: var(--space-800);
    padding-inline-end: var(--space-800);

    @media (width < 35rem) {
        flex-direction: column;
        gap: var(--space-400);
        padding-inline-start: var(--space-400);
        padding-inline-end: var(--space-600);
        z-index: 999;
        background-color: black;
    }
}

.primary__nav__link {
    position: relatives;
    display: flex;
    gap: var(--space-150);
    padding-block: var(--space-400);

    @media (width < 35rem) {
        padding-block: 0;
    }

    &::after {
        content: "";
        position: absolute;
        height: 3px;
        width: 100%;
        left: 0;
        bottom: 0;
        background-color: var(--clr-primary-100);
        transform: scaleX(0);
        transition: transform 300ms ease;

        @media (width < 35rem) {
            display: none;
        }
    }

    &:is(:hover, :focus-visible)::after {
        transform: scaleX(1);
    }

    &[aria-current="page"] {
        &::after {
            transform: scaleX(1);
        }
    }
}

.mobile-nav-toggle {
    display: none;
    position: absolute;
    inset: 10% 50% 0 0;
    border: transparent;
    background-color: transparent;
    background-image: url('/assets/shared/icon-hamburger.svg');
    background-repeat: no-repeat;
    background-position: center;
    width: 1.5rem;
    aspect-ratio: 1;
    z-index: 1999;

    @media (width < 35rem) {
        display: block;
        position: static;
    }
}