
@use '../globals/utilities' as util;

.main__home {
    padding-block: var(--space-300);
    padding-inline: var(--space-300);
    
    @include util.breakpoint(medium) {
        padding-block: var(--space-500);
        padding-inline: var(--space-500);
    }

    @include util.breakpoint(large) {
        padding-block: var(--space-1600);
        padding-inline: var(--space-1600);
    }
}

.intro {
    --gap: var(--space-1600);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gap);

    @include util.breakpoint(medium) {
        --gap: var(--space-800);
    }

    @include util.breakpoint(large) {
        --gap: var(--space-400);
        flex-direction: row;
    }
}

.main-heading {
    font-size: clamp(var(--fs-100), 0.37rem + 3.16vw, var(--fs-250));
    letter-spacing: .2em;
}

.space {
    display: block;
    padding-block: var(--space-300);
    font-size: clamp(var(--fs-900), 1.63rem + 16.84vw, var(--fs-1700));
    color: var(--clr-primary-100);
}

.tagline__home {
    font-size: clamp(var(--fs-100), 0.93rem + 0.31vw, var(--fs-300));
}

.explore {
    position: relative;
    --width: 144px;
    --height: 144px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(var(--fs-125), 0.39rem + 3.68vw, var(--fs-300));
    background-color: var(--clr-primary-100);
    color: var(--clr-primary-300);
    width: var(--width);
    height: var(--height);
    border-radius: 50%;
    aspect-ratio: 1;
    box-shadow: 0 4px 4px 0 var(--clr-accent-200);

        @include util.breakpoint(medium) {
            --width: 272px;
            --height: 272px;
        }

        @include util.breakpoint(large) {
            justify-self: self-end;
        }
    }

    .explore::after {
            content: '';
            position: absolute;
            z-index: -1;
            inset: 0;
            background-color: var(--clr-accent-100);
            border-radius: 50%;
            opacity: 0;
            transition: opacity 500ms linear, transform 750ms ease-in-out;
    }

    .explore:is(:hover, :focus)::after {
        transform: scale(1.5);
        opacity: 1;
    }