
@use '../globals/utilities' as util;

/* BASE STYLES */

body {
    position: relative;
    background-color: var(--clr-primary-300);
    color: var(--clr-primary-200);
    font-family: var(--ff-primary-300);
    text-transform: uppercase;
    min-height: 100svh;
    overflow-x: hidden;

    background-image: url('/assets/home/background-home-mobile.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;

    @include util.breakpoint(medium) {
        background-image: url('/assets/home/background-home-tablet.jpg');
    }

    @include util.breakpoint(large) {
        background-image: url('/assets/home/background-home-desktop.jpg');
    }

    &:has(.mobile-nav-toggle)[aria-expanded="true"] {

        .mobile-nav-toggle {
            background-image: url('/assets/shared/icon-close.svg');
        }
        
        .primary-nav__list {
            transform: translateX(0%);
        }
    }

    &[data-category="destination"] {
        background-image: url('/assets/destination/background-destination-mobile.jpg');

        @include util.breakpoint(medium) {
            background-image: url('/assets/destination/background-destination-tablet.jpg');
        }
    
        @include util.breakpoint(large) {
            background-image: url('/assets/destination/background-destination-desktop.jpg');
        }
    }

    &[data-category="crew"] {
        background-image: url('/assets/crew/background-crew-mobile.jpg');

        @include util.breakpoint(medium) {
            background-image: url('/assets/crew/background-crew-tablet.jpg');
        }
    
        @include util.breakpoint(large) {
            background-image: url('/assets/crew/background-crew-desktop.jpg');
        }
    }

    &[data-category="technology"] {
        background-image: url('/assets/technology/background-technology-mobile.jpg');

        @include util.breakpoint(medium) {
            background-image: url('/assets/technology/background-technology-tablet.jpg');
        }
    
        @include util.breakpoint(large) {
            background-image: url('/assets/technology/background-technology-desktop.jpg');
        }
    }
}

.main {
    text-align: center;

    @include util.breakpoint(large) {
        text-align: start;
    }
}

.container {
    max-width: 1000px;
    margin-inline: auto;
}

.skip-to-content {
    position: absolute;
    top: 0;
    z-index: 9999; 
    background-color: var(--clr-primary-100);
    color: var(--clr-primary-300);
    padding: .5em 2em;
    transform: translateY(-100%);
    transition: transform 250ms ease-in-out;

    &:is(:focus) {
        transform: translateY(0);
    }
}

.site__heading {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--space-300);
    color: var(--clr-primary-100);
    font-size: clamp(var(--fs-100), 0.62rem + 1.87vw, var(--fs-250));

    @include util.breakpoint(medium) {
        text-align: initial;
        justify-content: initial;
    }
}

.site__heading-number {
    color: var(--clr-accent-200);
}

.tagline {
    font-size: clamp(var(--fs-100), 0.93rem + 0.31vw, var(--fs-125));
    max-width: 70ch;
    line-height: 1.8;
    margin-inline: auto;
}

:is(.technology__nav__link, .crew__nav__link) {
    --bg-clr: transparent;
    --clr: var(--clr-primary-100);
    --outline-clr: var(--clr-accent-200);
    --width-size: var(--size-500);
    --height-size: var(--size-500);
    font-size: var(--fs-125);
    font-family: var(--ff-primary-100);
    background-color: var(--bg-clr);
    color: var(--clr);
    outline: 1px solid var(--outline-clr);
    border-radius: 50%;
    width: var(--width-size);
    height: var(--height-size);
    display: flex;
    justify-content: center;
    align-items: center;

    @include util.breakpoint(medium) {
        font-size: var(--fs-200);
        --width-size: var(--size-700);
        --height-size: var(--size-700);
    }

    @include util.breakpoint(large) {
        font-size: var(--fs-300);
        --width-size: var(--size-1000);
        --height-size: var(--size-1000);
    }

    &[aria-current="page"] {
        --bg-clr: var(--clr-primary-100);
        --clr: var(--clr-primary-300);
        --outline-clr: var(--clr-accent-100);
    }
}

