
@use '../globals/utilities' as util;

/* BASE STYLES */

body {
    background-color: var(--clr-primary-300);
    color: var(--clr-primary-100);
    font-family: var(--ff-primary-300);
    text-transform: uppercase;

    background-image: url('/assets/home/background-home-mobile.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;

    @include util.breakpoint(medium) {
        background-image: url('/assets/home/background-home-tablet.jpg');
    }

    @include util.breakpoint(large) {
        background-image: url('/assets/home/background-home-desktop.jpg');
    }
}