
@use '../globals/utilities' as util;

/* BASE STYLES */

body {
    position: relative;
    background-color: var(--clr-primary-300);
    color: var(--clr-primary-200);
    font-family: var(--ff-primary-300);
    text-transform: uppercase;
    min-height: 100svh;
    overflow-x: hidden;

    background-image: url('/assets/home/background-home-mobile.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;

    @include util.breakpoint(medium) {
        background-image: url('/assets/home/background-home-tablet.jpg');
    }

    @include util.breakpoint(large) {
        background-image: url('/assets/home/background-home-desktop.jpg');
    }

    &:has(.mobile-nav-toggle)[aria-expanded="true"] {
        
        .primary-nav__list {
            transform: translateX(0%);
        }
    }
}

.container {
    max-width: 1000px;
    margin-inline: auto;
}

.skip-to-content {
    position: absolute;
    top: 0;
    z-index: 9999; 
    background-color: var(--clr-primary-100);
    color: var(--clr-primary-300);
    padding: .5em 2em;
    transform: translateY(-100%);
    transition: transform 250ms ease-in-out;

    &:is(:focus) {
        transform: translateY(0);
    }
}

.site__heading {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--space-300);
    color: var(--clr-primary-100);
    font-size: clamp(var(--fs-100), 0.62rem + 1.87vw, var(--fs-250));

    @include util.breakpoint(medium) {
        text-align: initial;
        justify-content: initial;
    }
}

.site__heading-number {
    color: var(--clr-accent-200);
}

.tagline {
    font-size: clamp(var(--fs-100), 0.93rem + 0.31vw, var(--fs-125));
    max-width: 70ch;
    line-height: 1.8;
    margin-inline: auto;
}