
@use '../globals/utilities' as util;

/* BASE STYLES */

body {
    background-color: var(--clr-primary-300);
    color: var(--clr-primary-200);
    font-family: var(--ff-primary-300);
    text-transform: uppercase;
    min-height: 100svh;
    overflow-x: hidden;

    background-image: url('/assets/home/background-home-mobile.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;

    @include util.breakpoint(medium) {
        background-image: url('/assets/home/background-home-tablet.jpg');
    }

    @include util.breakpoint(large) {
        background-image: url('/assets/home/background-home-desktop.jpg');
    }
}

.container {
    max-width: 1000px;
    margin-inline: auto;
}

.main {
    padding-block: var(--space-300);
    padding-inline: var(--space-300);
    
    @include util.breakpoint(medium) {
        padding-block: var(--space-500);
        padding-inline: var(--space-500);
    }

    @include util.breakpoint(large) {
        padding-block: var(--space-1600);
        padding-inline: var(--space-1600);
    }
}