
/* UTILITIES */

$breakpoints: (
    "medium": 43.75rem,
    "large": 56.25rem,
    "xlarge": 68.75rem,
    "xxlarge": 90rem,
);

@mixin breakpoint($size) {
    @media (width > map-get($breakpoints, $size)) {
        @content;
    }
}

.visually-hidden:not(:focus):not(:active) {
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.flow {
    --flow-space: var(--space-200);
}

.flow > * + * {
    margin-block-start: var(--flow-space, 1em);
}