
/* CUSTOM PROPERTIES */

:root {
    /* Primitive properties */

    --clr-white: hsl(0 0 100%);
    --clr-white-opacity: hsl(0 0 100% / .05);
    --clr-light-blue: hsl(231 77 90%);
    --clr-dark-blue: hsl(230 35 7);

    --ff-serif: 'Bellefair';
    --ff-sans-serif1: 'Barlow';
    --ff-sans-serif2: 'Barlow Condensed';

    --fw-400: 400;
    --fw-700: 700;

    --fs-14px: .875rem;
    --fs-16px: 1rem;
    --fs-28px: 1.75rem;
    --fs-32px: 2rem;
    --fs-56px: 3.5rem;
    --fs-80px: 5rem;
    --fs-100px: 6.25rem;
    --fs-144px: 9rem;

    --space-2px: 2px;
    --space-4px: 4px;
    --space-8px: 8px;
    --space-12px: 12px;
    --space-16px: 16px;
    --space-24px: 24px;
    --space-32px: 32px;
    --space-40px: 40px;
    --space-48px: 48px;
    --space-56px: 56px;
    --space-64px: 64px;
    --space-80px: 80px;
    --space-96px: 96px;
    --space-128px: 128px;

    /* Semantic properties */

    --clr-primary-100: var(--clr-white);
    --clr-primary-100_opacity: var(--clr-white-opacity);
    --clr-primary-200: var(--clr-light-blue);
    --clr-primary-300: var(--clr-dark-blue);

    --ff-primary-100: var(--ff-serif);
    --ff-primary-200: var(--ff-sans-serif1);
    --ff-primary-300: var(--ff-sans-serif2);

    --fw-regular: var(--fw-400);
    --fw-bold: var(--fw-700);

    --fs-100: var(--fs-14px);
    --fs-200: var(--fs-16px);
    --fs-300: var(--fs-28px);
    --fs-400: var(--fs-32px);
    --fs-500: var(--fs-56px);
    --fs-600: var(--fs-80px);
    --fs-700: var(--fs-100px);
    --fs-800: var(--fs-144px);

    --space-25: var(--space-2px);
    --space-50: var(--space-4px);
    --space-100: var(--space-8px);
    --space-150: var(--space-12px);
    --space-200: var(--space-16px);
    --space-300: var(--space-24px);
    --space-400: var(--space-32px);
    --space-500: var(--space-40px);
    --space-600: var(--space-48px);
    --space-700: var(--space-56px);
    --space-800: var(--space-64px);
    --space-1000: var(--space-80px);
    --space-1200: var(--space-96px);
    --space-1600: var(--space-128px);
}